@import "./normalize.css";
@import "./fonts.css";

:root {
  --color-light: rgba(255, 255, 255, 1);
  --color-dark: rgba(0, 0, 0, 1);
  --color-header: rgb(33, 150, 243);
  --color-active: rgb(30, 136, 229);

  --font-base: "Roboto", sans-serif;

  --padding-x: 62px;
  --container-width: 1440px;
  --header-height: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + var(--padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-x);
}