.header {
  background-color: var(--color-header);
  min-height: (--header-height);
}

.header-menu-list {
  display: flex;
  justify-content: start;
}

.header-menu-link {
  text-align: center;
  padding-inline: 24px;
  align-items: center;
  font-family: var(--font-base);
  font-size: 14px;
  height: var(--header-height);
}

.is-active {
  background-color: var(--color-active);
}